<!DOCTYPE html>
<html >
<body>
 <div class="login">
	<h1>Prediction of House Rent</h1>
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Age" placeholder="Age" required="required" /><br><br>
      <input type="text" name="Experience" placeholder="Exp" required="required" /><br><br>
	<input type="text" name="Income" placeholder="Income" required="required" /><br><br>
	<input type="text" name="Family" placeholder="No.of persons" required="required" /><br><br>
	<input type="text" name="CCAvg" placeholder="CCAvg" required="required" /><br><br>
	<input type="text" name="Education" placeholder="Education" required="required" /><br><br>
	<input type="text" name="Mortgage" placeholder="Mortgage" required="required" /><br><br>
	<input type="text" name="Securities Account" placeholder="Sec Acc" required="required" /><br><br>
	<input type="text" name="CD Account" placeholder="CD Acc" required="required" /><br><br>
	<input type="text" name="Online" placeholder="Online" required="required" /><br><br>
	<input type="text" name="Credit Card" placeholder="Credit Card" required="required" /><br><br>
	

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button><br>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>